{% extends 'security/baseSecurity.html.twig' %}

{% block body %}




    <a id="contentarea" tabindex="-1"></a>
<div class="page-title-wrapper">
    <h1 class="page-title">
        <span class="base" data-ui-id="page-title-wrapper">Customer Login</span>    </h1>
       
 </div>
    
    
    
   
<div class="login-container"><div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2">Registered Customers</strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        
            <input name="form_key" type="hidden" value="vedeAn56iqjqPQd2"/>            <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                <div class="field note">If you have an account, sign in with your email address.</div>
                <!-- nzid hnaaaaaaaaaaaaaaaaaa-->
                
                     <form action="{{path('security_login')}} " method="post">
                     
                     
                     <div class="form-group">
                      <input placeholder="Adresse email..." required name="_username"
                    type="text" class="form-control">
                    </div>


                     <div class="form-group">
                <input placeholder="Mot de passe..." required name="_password"
                    type="password" class="form-control">
            </div>
<div class="d-flex mb-5 align-items-center">
                
                <span class="ml-auto"><a  href="{{path('forgotton_pass')}}" class="forgot-pass">Show Password</a></span> 
             
              </div>
              
          
             
                    <div class="actions-toolbar">
                 
                    <div class="secondary"><a class="action remind" href="{{path('forgotton_pass')}}"><span>Forgot Your Password?</span></a></div>
                </div>

                  <div class="form-group">
             <button type:"submit" class=".btn.bt-success"> Sign in </button>
             </div>

                 </form>
               
           
            </fieldset>
  
    </div>
   
</div>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2">New Customers</strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
        <div class="actions-toolbar">
            <div class="primary">
                <a href="{{path('security_registration')}}" class="action create primary"><span>Create an Account</span></a>
            </div>
        </div>
    </div>
</div>
</div>






<!-- Foooooooterrrr-->


<footer class="page-footer"><div id="focus-area"></div>
<div id="back-top" class=""><i class="icon icon-chevrons-up"></i></div>
<div class="footer-container enable-mobile-menu layout-9">
	<div class="footer-top">
		<div class="footer content">
			<div class="footer-static_link flex-layout space-between">
				<div class="footer-links col-links"> 
											<img src="../../../../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/Rokanthemes_OptimizeSpeed/images/xload_defaut.png.pagespeed.ic.KZZplq6wrg.png" data-src="https://blueskytechmage.com/ohey/media/rokanthemes/footerlogo/stores/15/xlogo11_1.png.pagespeed.ic.bSdxIDD9z_.png" alt=""/>
										<p>
Since 2013 we’ve been creating industrial design, residential architecture, commercial interiors. Chase mice attack feet but rub face on everything cepteur sint occaecat cupidatat proident.
</p>					
<h4 class="footer-title">Follow us</h4>
<ul class="social-link footer-contents">
<li><a href="#"><span class="icon-facebook-f"><span class="text">Facebook</span></span></a></li>
<li><a href="#"><span class="icon-instagram"><span class="text">instagram</span></span></a></li>
<li><a href="#"><span class="icon-twitter"><span class="text">twitter</span></span></a></li>
<li><a href="#"><span class="icon-dribbble"><span class="text">dribbble</span></span></a></li>
<li><a href="#"><span class="icon-play-circle"><span class="text">youtube</span></span></a></li>
</ul>
				</div>
				<div class="footer-links col-links to_help">
					<h4 class="footer-title">here to help</h4>
<div class="footer-contents">
<p>Have a question? You may find an answer in our FAQs.
But you can also contact us:</p>
<div class="info_help">
	<div class="info_content info_phone">
		<span class="icon-phone-outgoing"><span class="text">phone</span></span>
		<h4>Order by phone</h4>
		<p>Available everyday</p>
		<p class="text_inner text_phone">+391 (0)35 2568</p>
	</div>
	<div class="info_content info_email">
		<span class="icon-mail"><span class="text">email</span></span>
		<h4>Email Us</h4>
		<p>Get in touch by email</p>
		<p class="text_inner">support@ohey.com</p>
	</div>
</div>
</div> 				</div>
				<div class="footer-links">
					<h4 class="footer-title">Customer Service</h4>
<ul class="footer-contents">
<li><a href="#">Help & Contact Us</a></li>
<li><a href="#">COVID-19 information</a></li>
<li><a href="#">Orders & Shipping</a></li>
<li><a href="#">Payment & Pricing</a></li>
<li><a href="#">Returns & Refunds</a></li>
<li><a href="#">FAQs</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Accessibility</a></li>
<li><a href="#">Contact Us</a></li>
<li><a href="#">Documentation</a></li>
</ul>				</div>
				<div class="footer-links">
					<h4 class="footer-title">About ohey</h4>
<ul class="footer-contents">
<li><a href="#">My Account</a></li>
<li><a href="#">Investors</a></li>
<li><a href="#">Boutique Partners</a></li>
<li><a href="#">Affiliate Programme</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Customer Promise</a></li>
<li><a href="#">Ohey App</a></li>
<li><a href="#">Sitemap</a></li>
<li><a href="#">Positively Ohey</a></li>
</ul>				</div>
				
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container-inner border-top">
			<div class="footer content flex-layout space-between center_vertical">
				<small class="copyright">
    <span>© Copyright Ohey Limited. All rights reserved.</span>
</small>
	
				<div class="footer-payment">
					<div class="flex-layout center_vertical">
<h4>Secure payments</h4>
<div class="img_payment"><img src="../../../../static/version1640184821/frontend/bluesky/bluesky_ohey_carparts_01/en_US/Rokanthemes_OptimizeSpeed/images/xload_defaut.png.pagespeed.ic.KZZplq6wrg.png" data-src="https://blueskytechmage.com/ohey/media/wysiwyg/payment.png" alt=""/></div>
</div>				</div>
			</div>
		</div>
	</div> 
</div>
<div class="fixed-bottom d-block d-md-none">
	<div class="link-on-bottom">
		<ul class="mobile-bottom-link flex-layout space-between list-unstyled no-wrap">
			<li><a href="../../../index.html"><span class="icon icon-home"></span>Home</a></li>
			<li><a href="../index.html"><span class="icon icon-user-circle-o"></span>Account</a></li>
			<li><a href="#" class="toggle-nav-footer"><span class="icon icon-menu1"></span>Menu</a></li>
			<li><a href="../../../wishlist/index.html"><span class="icon icon-favorite_border"></span>Wishlist</a></li>
			<li><a href="../../../checkout/cart/index.html"><span class="icon icon-cart"></span>Cart</a></li>
			
		</ul>
	</div>
</div>
</footer><script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "storage-manager": {
                            "component": "Magento_Catalog/js/storage-manager",
                            "appendTo": "",
                            "storagesConfiguration" : {"recently_viewed_product":{"requestConfig":{"syncUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product\/frontend_action_synchronize\/"},"lifetime":"1000","allowToSendRequest":null},"recently_compared_product":{"requestConfig":{"syncUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product\/frontend_action_synchronize\/"},"lifetime":"1000","allowToSendRequest":null},"product_data_storage":{"updateRequestConfig":{"url":"https:\/\/blueskytechmage.com\/ohey\/en11\/rest\/en11\/V1\/products-render-info"},"requestConfig":{"syncUrl":"https:\/\/blueskytechmage.com\/ohey\/en11\/catalog\/product\/frontend_action_synchronize\/"},"allowToSendRequest":null}}                        }
                    }
                }
            }
        }
</script>
<div class="ajaxsuite-popup-wrapper" id="ajaxsuite-popup-wrapper">
    <a id="ajaxsuite-close" class="ajaxsuite-close"></a>
    <div id="ajaxsuite-popup-content"></div>
</div>
<div class="quickview-popup-wrapper" id="quickview-popup-wrapper">
    <a id="quickview-close" class="quickview-close"></a>
    <div id="quickview-popup-content"></div>
</div>
<div data-url="https://blueskytechmage.com/ohey/en11/themeoption/fakeorder/getitem/" id="purchase-fake-order" data-seconds-hide="5" data-seconds-displayed="10" class="purchase-order fadeInUp animated hidden-xs" style="display: none;">
	<a class="purchase-close" href="javascript:void(0);"></a>
	<div class="product-purchase"></div>
</div>
</div>    <script>require(["jquery"],function($){require(["rokanthemes/lazyloadimg"],function(lazy){$("img[data-src]").lazy({"bind":"event","attribute":"data-src",visibleOnly:true,threshold:0,enableThrottle:true,throttle:500,afterLoad:function(element){$(element).addClass("lazy-loaded");$(element).closest(".absolute-content-image").removeClass("lazyload-content");setTimeout(function(){$(element).addClass("transition");},1000);}});$(document).ready(function($){var win=$(window);$(".owl-carousel").on("translated.owl.carousel",function(event){var bounds=$(this).offset();var viewport={top:win.scrollTop(),left:win.scrollLeft()};viewport.bottom=viewport.top+win.height();if(viewport.bottom>bounds.top){$(this).find("img[data-src]").lazy({"bind":"event",delay:0,afterLoad:function(element){$(element).addClass("lazy-loaded");$(element).closest(".absolute-content-image").removeClass("lazyload-content");setTimeout(function(){$(element).addClass("transition");},1000);}});}});setTimeout(function(){$("img[data-src]").each(function(){if($(this).is(":hidden")){var new_url=$(this).attr("data-src");$(this).attr("src",new_url);$(this).removeAttr("data-src");$(this).addClass("lazy-loaded");$(this).closest(".absolute-content-image").removeClass("lazyload-content");setTimeout(function(){$(this).addClass("transition");},1000);}});},1000);});});});</script></body>

<!-- Mirrored from blueskytechmage.com/ohey/en11/customer/account/create/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Feb 2022 18:49:57 GMT -->
</html>


 

{% endblock %}
