{% extends 'base.html.twig' %}

{% block title %}New password{% endblock %}

{% block body %}
    <h1>Write your new password</h1>
    <form method="post">
        
        <div class="form-group last mb-4">
         <label for="password">Password</label>
        <input type="password" name="password" id="pass"  class="form-control">
        <input type="hidden" name="token" value="{{ token }}">
        </div>
        <button type="submit"  class="btn btn-block btn-primary"> Reset </button>
    </form>
{% endblock body  %}