<!doctype html>

    <div class="table-responsive mb-4">
        
<body>
    <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
<thead>
<tr>
    <th >titrePubl</th>
    <th>date et heure de la publication</th>
    <th>image</th>
    <th>Description</th>
     
    <th style="width: 80px; min-width: 80px;"></th> 
</tr>
</thead>

<tbody>
                          <tr>
                            <section>
                                   {#{% for publication in publications %}#}
                                            <th>   <publication id="descripForm">
                                                <h2>{{ publication.titrePubl }}</h2> 
                                            </th> 
                                            <th>   <div class="metadata">Ecrit le {{ publication.tempsPubl | date }}
                                                    dans la categorie </div></th> 
                                                    <th> <div class="content">
                                                    <img src="{{ publication.imagepubl }}" width="300px" alt=""></th>
                                            <th>  
                                                        <p>      {{ publication.descriptionPubl }}  </p>
                                                   
                                             </th>
                                                    
                                                    
                                                   
                                                   
                                            </div>
                                    </publication>
                                    
                            </section>
                    </div>
            </div>
    </div>
                            </tr>
</tbody>
</table>
</body>
    </html>