{% extends "base.html.twig" %}
 

{% block body %}
<body> 
<section class="publication">
   

   {% for publication in publications %}
<publication>  
        <h2>{{ publication.titrePubl }}</h2>
        <div class="metadata">Ecrit le {{ publication.tempsPubl | date }}
                dans la categorie </div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>
                    {{ publication.descriptionPubl }}
            </p>
            
            <a href="  " class="btn btn-primary">Supprimer</a>
    </div>
   
</publication>




{% endfor %}



    
</section>
</body>
{% endblock %}


