<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canceled Event</title>

    <link rel="stylesheet" href="{{ absolute_url(asset('css/fichier.css')) }}">
</head>
<body>
    
    <p>Dear User
    <br>

We regret to inform you that ourevent  at  (venue) on  (date) has been (cancelled or postponed). 
<br>
We made this difficult decision to (postpone or cancel) because of (reason for cancellation or postponement).
     
     </p> 
   
     <h1>Thanks for your comprehension </h1>

</body>
<img src="https://scontent.ftun5-1.fna.fbcdn.net/v/t1.15752-9/272043321_1061364314705068_8199537995048967466_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=Q8-fwY7LA0UAX9g420R&_nc_ht=scontent.ftun5-1.fna&oh=03_AVIRpU3_M8wjMFM2i4UlH-ICjH57OjW9J3BXGfJQbO4ECw&oe=6246A68A" alt="footer email"> 
</html>
