{% extends 'baseAdmin.html.twig' %}
{% block title %}
	<title>Publicité</title>
{% endblock %}




{% block body %}

<center > 
<div style="margin-top : 200px ">
    {{ form(form)}}
</div>
</center>
 {% endblock %}